[run]
include = plugin.py
	  connection.py
	  keychain.py
	  extension_*.py
	  extensions.py
          test/test_*.py

[report]
include = plugin.py
	  connection.py
	  keychain.py
	  extension_*.py
	  extensions.py
          test/test_*.py

show_missing = True
exclude_lines = log.debug
	        self.log.debug
                return self.dispatch
		pass
